<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="network" type="AlexanderPo.Configuration.NetworkSection, AlexanderPo, Version=1.0.0.0, Culture=neutral"/>
    <section name="content" type="AlexanderPo.Configuration.ContentSection, AlexanderPo, Version=1.0.0.0, Culture=neutral"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <network url="http://alexanderpo.com/"/>
  <content defaultMediaType="application/octet-stream">
    <mediaTypes>
      <mediaType extension=".html" value="text/html"/>
      <mediaType extension=".js" value="application/javascript"/>
      <mediaType extension=".css" value="text/css"/>
      <mediaType extension=".ico" value="image/vnd.microsoft.icon"/>
      <mediaType extension=".png" value="image/png"/>
      <mediaType extension=".jpg" value="image/jpeg"/>
      <mediaType extension=".eot" value="application/vnd.ms-fontobject"/>
      <mediaType extension=".svg" value="image/svg+xml"/>
      <mediaType extension=".ttf" value="application/font-ttf"/>
      <mediaType extension=".woff" value="application/font-woff"/>
      <mediaType extension=".woff2" value="application/font-woff"/>
      <mediaType extension=".txt" value="text/plain"/>
      <mediaType extension=".gif" value="image/gif"/>
      <mediaType extension=".pdf" value="application/pdf"/>
      <mediaType extension=".docx" value="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
      <mediaType extension=".mp3" value="audio/mpeg"/>
    </mediaTypes>
  </content>
</configuration>
