body {
    font-family: 'Josefin Sans', sans-serif;
}

.logo {
    font-family: 'Josefin Sans', sans-serif;
}

.logo a{
    text-decoration: none;
}

.alpof-logo {
    color: #5587A2;
}

.alpodot-logo {
    color: #D1AF94;
}

.alpos-logo {
    color: #88B14B;
}

.social-box {
    margin-top: 50px;
}

.social-box li {
    margin: 10px;
}

.social-box li a {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    font-size: medium;
    text-decoration: none;
}

.box-1 a {
    color: #0C4C8A;
}

.box-2 a {
    color: #EF562D;
}

.box-3 a {
    color: #5C7148;
}

.contact {
    margin-bottom: 30px;
}

.contact a {
    color: #D13076;
}

@media (max-width: 767px){

    body {
        background-position: right top;
    }

    h3, .h3 {
        font-size: 22px;
    }

    .social-box {
        margin-top: 35px;
    }

}

@media (min-width: 768px){

    body {
        background-image: url('../img/bg.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-attachment: fixed;
    }

}


