* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

h1 {
  display: none;
}

a {
  text-decoration: none;
}

a[href^="http"] {
  border-bottom: 1px dashed #e6d3c3;
}

a[href^="mailto"],
a[href^="skype"] {
  border-bottom: 1px dashed #c3deec;
}

main {
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
}

.link-box {
  list-style: none;
  padding-left: 0;
}

.link-box li {
  margin: 13px;
}

.link-box li a {
  font-family: "Source Code Pro", monospace;
  font-style: italic;
  padding-bottom: 0.15em;
}

main .link-box li a {
  font-size: medium;
}

main .link-box:nth-child(1) a {
  color: #0c4c8a;
}

main .link-box:nth-child(2) a {
  color: #ef562d;
}

main .link-box:nth-child(3) a {
  color: #5c7148;
}

footer li {
  font-size: 0.9em;
}

footer a {
  color: #d13076;
}

@media (min-width: 768px) {
  body {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
  }

  a[href^="http"],
  a[href^="mailto"],
  a[href^="skype"] {
    border-bottom: none;
  }

  a[href^="http"]:hover {
    border-bottom: 1px dashed #d1af94;
  }

  a[href^="mailto"]:hover,
  a[href^="skype"]:hover {
    border-bottom: 1px dashed #97c1d8;
  }

  h1 {
    display: block;
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    font-size: 1.75em;
    margin: 0.75em 0 0.25em;
  }

  .alpoat-logo {
    color: #d1af94;
  }

  .alpof-logo {
    color: #5587a2;
  }

  .alpodot-logo {
    color: #d1af94;
  }

  .alpos-logo {
    color: #88b14b;
  }

  main {
    grid-template-columns: 1fr 1fr 4fr;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  footer li {
    font-size: 1em;
  }
}
