<root>
  <output path="app.js">
    
    <!--Base-->
    
    <!--Extensions-->
    <input path="extensions/bindings.js" />

    <!--Config-->
    <input path="config/config.js" />
    <input path="config/localStrings.eng.js" />
    <input path="config/localStrings.rus.js" />

    <!--Data-->

    <!--Proxies-->
    
    <!--Storages-->
    
    <!--Jobs-->

    <!--Models-->

    <!--View models-->
    <input path="viewModels/home.js" />
    
    <input path="viewModels/main/noticeItem.js" />
    <input path="viewModels/main.js" />

    <!-- Application -->
    <input path="core/application.js" />
    
  </output>
</root>