<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a href="/" class="pull-left" style="text-decoration:none">
                <h3><span class="alpof-logo lead" data-bind="text: local.firstName">lifebird</span><span class="alpodot-logo">.</span><span class="lead alpos-logo" data-bind="text: local.secondName"></span></h3>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="board-loading">
                <a href="https://www.upwork.com/users/~01ed47988e63516b14" target="_blank">
                    <img height="175" alt="odesk" src="../less/odesk1.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-md-12">
            <ul style="margin-top: -50px; opacity:0.8" class="list-unstyled list-inline board-loading">
                <li style="margin: 10px">
                    <a href="#">
                        <img height="80" alt="facebook" src="../less/facebook1.png" />
                    </a>
                </li>
                <li style="margin: 10px">
                    <a href="#">
                        <img height="80" alt="youtube" src="../less/youtube1.png" />
                    </a>
                </li>
                <li style="margin: 10px">
                    <a href="https://www.linkedin.com/profile/view?id=131103902" target="_blank">
                        <img height="80" alt="skype" src="../less/linkedin1.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
